.error{
  border: 1px solid red;
}
.error:focus{
  outline: 2px solid red;
}
.error-text{
  color: red;
  font-size: small;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.card{
  border: 1px solid black;
  padding: 30px 40px;
  text-align: center;
  width: 350px;
  background-color: aqua;
}

input {
  width: 100%; 
  margin: 10px 0;
  padding: 8px;
}

button {
  margin-top: 15px;
  padding: 8px 16px;
}
button:hover{
  cursor: pointer;
}