.details{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 0px;
  padding: 10px;
  list-style: none;
}
.heading{
  font-weight: 800;
  font-size: 20px;
}
.Navlinks{
  display:flex;
  justify-content: space-around;
  width: 200px;
}